$md-light: #FEFEFE;
$md-primary: #01AFC8;
$md-medium-gray: #B6B8D1;
$md-danger: #E7385F;
$md-darker: #0E0E0E;
$md-purple: #513E5E;
$md-medium-orange: #FB9301;
$md-success: #01AA51;
$md-Brown: #A08778;
$md-light-orange: #FFC869;
$md-light-gray: #F0EFEF;
$md-dark-success: #345E60;
$md-medium-danger: #C04A57;
$md-pewter: #96A6A5;
$md-golden: #DE912A;
$md-dark-orange: #F29518;
$md-dark-gray: #959999;
$md-soft-primary: #22AD96;
$md-medium-success: #458D76;
$md-dark-danger: #E23C5D;